* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  padding: 0;
  margin: 0 auto;
  height: 100vh;
}

header {
  background-color: #f5ba13;
  width: 100%;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  display: flex;
  width: 100%;
  text-align: center;
  height: 2.5rem;
  margin: auto 0 0 0;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #ccc;
  padding: 1rem 0;
}

.keeper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 1.25rem 1.25rem 1rem;
  width: 300px;
  height: max-content;
  margin: 16px;
  float: left;
}

.note h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.1em;
  margin-bottom: 6px;
  word-wrap: normal;
}

.note textarea {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: none;
  resize: none;
  outline: none;
  font-family: inherit;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.note button {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #f5ba13;
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  resize: none;
}

form button {
  line-height: 2.4rem;
  font-size: 2rem;
  padding: 0;
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
